name: build and upload

# Controls when the workflow will run
on:
  # Triggers the workflow on push but only for the main branch
  push:
    branches: [ main ]
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      board:
        type: string
        description: |
          Board Name (default: nrf52dk/nrf52832)
        required: false
        default: 'nrf52dk/nrf52832'
      conf_file:
        type: string
        description: |
          Project configuration file (default: prj.conf)
        required: false
        default: 'prj.conf'
      apply_patches:
        type: boolean
        description: |
          Apply custom patches from the patches directory. 
          Set to true to enable, false to disable. (default: true)
        required: false
        default: true
      overlay_file:
        type: string
        description: |
          Device Tree Overlay file (default: nrf51dk.overlay)
        required: false
        default: ''
      clock_control_nrf_k32src_rc:
        type: string
        description: |
          CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC option. Required for board without external oscillator.
          Set to "y" to enable, "n" to disable. (default: '', configured in project/board config file) 
        required: false
        default: ''
      upload_artifacts:
        type: boolean
        description: |
          Upload build artifacts. 
          Set to true to enable, false to disable. (default: true)
        required: false
        default: true

jobs:
  setup-zephyr-toolchains:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        path: app
        submodules: recursive

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.12

    - name: Install dependencies
      shell: bash
      run: |
        sudo apt-get update
        sudo DEBIAN_FRONTEND=noninteractive apt-get install -y --no-install-recommends \
          git cmake ninja-build gperf ccache dfu-util device-tree-compiler wget \
          xz-utils file \
          make gcc gcc-multilib g++-multilib libsdl2-dev \
        #  nano ncdu gdb-multiarch
        #sudo ln -s /usr/bin/gdb-multiarch /usr/bin/arm-none-eabi-gdb

    - name: Remove exisiting west config
      shell: bash
      run: |
        rm -rf .west

    - name: Setup Zephyr project
      uses: zephyrproject-rtos/action-zephyr-setup@v1
      with:
        app-path: app
        toolchains: arm-zephyr-eabi
        sdk-version: 0.16.8
        #west-group-filter: -hal,-tools,-bootloader,-babblesim
        #west-project-filter: -nrf_hw_models
        #west-version: 1.3.0

    - name: Create artifacts directory
      run: |
        rm -rf artifacts
        mkdir -p artifacts
    
    - name: Setup environment variables
      id: setup_env
      shell: bash
      run: |
        board=${{ github.event.inputs.board == '' && 'nrf52dk/nrf52832' || github.event.inputs.board }}
        echo "board=$board" >> $GITHUB_ENV
        sanitized_board="${board//\//-}"
        echo "sanitized_board=$sanitized_board" >> $GITHUB_ENV
        echo "sanitized_board=$sanitized_board" >> $GITHUB_OUTPUT
        echo "Board name $board sanitized to $sanitized_board for artifact naming."

        echo "conf_file=${{ github.event.inputs.conf_file == '' && 'prj.conf' || github.event.inputs.conf_file }}" >> $GITHUB_ENV

        echo "upload_artifacts=${{ github.event.inputs.upload_artifacts == '' && 'true' || github.event.inputs.upload_artifacts }}" >> $GITHUB_OUTPUT

        echo "apply_patches=${{ github.event.inputs.apply_patches == '' && 'true' || github.event.inputs.apply_patches }}" >> $GITHUB_OUTPUT

        clock_control_nrf_k32src_rc=${{ github.event.inputs.clock_control_nrf_k32src_rc }}
        if [ -z "$clock_control_nrf_k32src_rc" ]; then
          echo "Use CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC as defined in project/board config file"
        elif [[ "$clock_control_nrf_k32src_rc" == "y" ]]; then
          echo "Enable CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC"
          EXTRA_FLAG+="-DCONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y"
        elif [[ "$clock_control_nrf_k32src_rc" == "n" ]]; then
          echo "Disable CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC"
          EXTRA_FLAG+="-DCONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=n"
        else
          echo "Invalid value for clock_control_nrf_k32src_rc: $clock_control_nrf_k32src_rc."
        fi
        echo "clock_control_nrf_k32src_rc=$clock_control_nrf_k32src_rc" >> $GITHUB_ENV

        overlay_file=${{ github.event.inputs.overlay_file }}
        if [ -z "$overlay_file" ]; then
          echo "No overlay file specified."
        else
          echo "Using specified overlay file: $overlay_file"
          EXTRA_FLAG+=" -DDTC_OVERLAY_FILE=${overlay_file}"
        fi
        echo "EXTRA_FLAG=$EXTRA_FLAG" >> $GITHUB_ENV
        
    - name: Apply custom patches
      if: ${{ steps.setup_env.outputs.apply_patches == 'true' }}
      shell: bash
      run: |
        cd app
        if [ -d ./patches ]; then
          for patch in ./patches/*.patch; do
            echo "Applying GIT patch $patch"
            git apply "$patch"
          done
          for patch in ./patches/*.sh; do
            echo "Executing patch script $patch"
            source $patch $conf_file
          done
        else
          echo "No patches directory found, skipping patch application."
        fi
        cd ..

    - name: build firmware
      id: build_firmware
      shell: bash
      run: |
        rm -rf build
        mkdir -p build
        echo "Start build for board $board with config file $conf_file"
        cat > build_app.sh<<EOF
        west build \
        -b $board app -- \
        -DBOARD_ROOT="./" \
        -DCONF_FILE="./$conf_file" $EXTRA_FLAG \
        -DBUILD_VERSION_STRING="GitHub Actions build ${{ github.run_number }}" 
        EOF
        echo "Build command:"
        cat build_app.sh
        source build_app.sh >> build/build.log 2>&1

        if [ -f build/zephyr/zephyr.bin ]; then
          mkdir -p artifacts/$sanitized_board
          cp build/zephyr/zephyr.bin artifacts/$sanitized_board/everytag-firmware.bin
          cp build/zephyr/zephyr.hex artifacts/$sanitized_board/everytag-firmware.hex
          cp build/zephyr/zephyr.elf artifacts/$sanitized_board/everytag-firmware.elf
          cp build/build.log artifacts/$sanitized_board/build.log
          ls -lah artifacts/$sanitized_board/
          echo "Build succeeded: Firmware binary created."
        else
          echo "Build failed: Firmware binary not found!"
          exit 1
        fi

    - name: Upload build artifacts
      if: ${{ steps.setup_env.outputs.upload_artifacts == 'true' }}
      uses: actions/upload-artifact@v4
      with:
        name: everytag-firmware-${{ steps.setup_env.outputs.sanitized_board }}
        path: artifacts/${{ steps.setup_env.outputs.sanitized_board }}/*
        if-no-files-found: error